# Node dependencies
node_modules/

# Production build output
build/
dist/

# TypeScript build cache
*.tsbuildinfo

# Environment files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor settings (VS Code)
.vscode/
!.vscode/extensions.json   

# System files
.DS_Store

# Temporary or cache folders
.cache/
tmp/
temp/
